node_modules/
.expo/
dist/
.env
.env.local
.env.*.local
env.local
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.log

# Expo Prebuild generated native code
# Uncomment these lines if you want to commit your native code customizations
android/
ios/




